.Photos{
    background: url('../../images/stars.svg');
    background-repeat: repeat;
    display: flex;
    justify-content: center;
}
.Photos__nest{
    max-width: 1540px;
    background: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Photos__image{
    margin: 1rem;
    width: 20rem;
}