.Navbar{
    background-color: var(--color-space);
    text-decoration: none;
}
.Navbar__nest{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Navbar__item{
    color: #fff;
    text-decoration: none;
}
.Navbar__item:hover {
    color: #ffffff;
}